.billpayMonthPanel {
  /* Provide a 32px spacing between the Calendar & the List, regardless
   * of their directionality. */
  & > div:last-child {
    margin: -16px;

    & .calendar {
      margin: 16px;
    }

    & .list {
      flex-grow: 1;
      margin: 16px;
    }
  }
}
