.popupMenuButton {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 1em;
  padding-bottom: 1em;

  & img {
    height: auto;
  }

  & svg {
    margin-top: auto;
    margin-bottom: auto;
  }
}
