.sidenav {
  display: inline-block;

  @media (max-width: 420px) {
    display: block;
  }

  & .logo {
    max-width: 200px;

    @media (max-width: 420px) {
      max-width: 180px;
    }
  }

  & .navWrapper {
    margin-top: 20px;
    margin-left: 15px;

    @media (max-width: 420px) {
      margin-left: 0px;
    }
  }
}
