.dashboardPanel {
  --gutter: 24px;
  display: inline-block;
  flex-grow: 1;
  margin: calc(1/2 * var(--gutter));

  &.fullWidth {
    flex: 1 0 calc(100% - var(--gutter));
  }

  &.halfWidth {
    flex: 1 0 calc(50% - var(--gutter));
  }

  &.thirdWidth {
    flex: 1 0 calc(33.333% - var(--gutter));
  }

  &.quarterWidth {
    flex: 1 0 calc(25% - var(--gutter));
  }
}
