.dashboardPanel {
  background: white;
  padding: 0px 32px;
  box-shadow: var(--shadow-large);
  border-radius: 10px;

  --gutter: 24px;
  display: inline-block;
  flex-grow: 1;
  margin-right: var(--gutter);
  margin-bottom: var(--gutter);

  &.fullWidth {
    flex: 1 0 calc(100% - var(--gutter));
  }

  &.halfWidth {
    flex: 1 0 calc(50% - var(--gutter));
  }

  &.thirdWidth {
    flex: 1 0 calc(33.333% - var(--gutter));
  }

  &.quarterWidth {
    flex: 1 0 calc(25% - var(--gutter));
  }

  & > .header {
    padding-top: 24px;
    & > h3 {
      margin: 0px;
    }
  }

  & > .content {
    padding: 32px 0px;
  }
}
