.calendarMonth {
  --day-size: 64px;
  --day-gutter: 8px;

  display: flex;
  flex-wrap: wrap;
  min-width: 290px;
  margin: calc(-1/2 * var(--day-gutter));

  & > div {
    width: calc((100% / 7) - (2 * 1/2 * var(--day-gutter)));
    margin: calc(1/2 * var(--day-gutter));
    height: 63px;
  }
}
