.navDropdown {
  background-color: white;
  box-shadow: var(--shadow-small);
  padding: 0;
  margin: 0;
  list-style: none;

  /* TODO: remove - contextual to the placement of this box */
  top: calc(100% + 1px);
  position: absolute;
  z-index: 1;

  & li {
    /* TODO: copy styles similar to the dropdown list */
    display: flex;
    padding: 1em;
    cursor: pointer;

    & svg {
      width: 18px;
      height: auto;
    }

    & h4 {
      margin: auto .5em;
    }

    &:hover {
      background-color: var(--gray-5);
    }
  }
}
