.billpayMonth {
  --day-size: 52px;
  --day-gutter: 8px;
  display: flex;
  flex-wrap: wrap;
  width: calc(7 * (var(--day-size) + var(--day-gutter)));

  & .day {
    display: inline-block;
    margin-right: var(--day-gutter);
    margin-bottom: var(--day-gutter);
    width: var(--day-size);
    height: var(--day-size);

    background: var(--gray-4);
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      margin-top: -2px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, .30);
    }
  }
}
