.dashboardLayout {
  display: flex;
  padding: 34px 24px;

  & .content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 42px;
    width: 100%;
    max-width: 1200px;
    margin-top: 8px;
  }

  @media (max-width: 900px) {
    display: block;

    & .content {
      margin-top: 28px;
      margin-left: 0px;
    }
  }
}
