.dashboardLayout {
  display: flex;
  flex-direction: column;

  & .content {
    width: 100%;
    max-width: 1200px;
    margin-top: 42px;
  }

  @media (max-width: 900px) {
    display: block;

    & .content {
      margin-top: 28px;
      margin-left: 0px;
    }
  }
}
