.navList {
  --transition-time: 200ms;

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
      width: 240px;
      padding: 15px 24px;
      border-radius: 8px;
      transition: background var(--transition-time), box-shadow var(--transition-time);

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &:hover {
        cursor: pointer;
        background: white;
        box-shadow: var(--shadow-small);
        & path {
          fill: var(--gray-1);
        }
        & span {
          color: var(--gray-1);
        }
      }

      &.active {
        background: white;
        box-shadow: var(--shadow-small);
        & path {
          fill: var(--gray-1);
        }
        & span {
          color: var(--gray-1);
        }
      }

      & .iconWrapper {
        width: 30px;
        display: inline-block;
        margin-right: 12px;
      }

      & svg {
        font-size: 20px;
        & path {
          transition: fill var(--transition-time);
          fill: var(--bluegray-3);
        }
      }

      & span {
        font-family: var(--open-sans);
        font-weight: 700;
        font-size: 16px;
        color: var(--bluegray-3);
        transition: color var(--transition-time);
      }
    }
  }

  @media (max-width: 420px) {
    & ul {
      display: block;

      & li {
        padding: 16px 24px;
        display: inline-block;
        width: auto;

        &:not(:last-child) {
          margin-bottom: 0px;
        }

        & > .iconWrapper {
          margin-right: 0px;
          text-align: center;
        }

        & span {
          display: none;
        }
      }
    }
  }
}
