.billList {
  width: 275px;

  & .billListCategory {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & h5 {
      text-transform: uppercase;
      color: var(--bluegray-4);
      font-family: var(--roboto);
      font-size: 13px;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 6px;
    }

    & > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      & > * {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}
