.billList {
  width: 275px;

  & .billListCategory {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & h5 {
      text-transform: uppercase;
      color: var(--bluegray-4);
      font-family: var(--roboto);
      font-size: 13px;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 6px;
    }

    & > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      &.overdue {
        & > li {
          background: var(--orange);
        }
      }

      &.unpaid {
        & > li {
          background: var(--green);
        }
      }

      &.paid {
        & > li {
          background: #AABBCC;
          background: var(--gray-5);
        }
      }

      & > li {
        display: flex;
        justify-content: space-between;
        padding: 10px 14px;
        border-radius: 3px;

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        &:hover,
        &.active {
          box-shadow: var(--shadow-hover);
          cursor: pointer;
          position: relative;
          top: -1px;
        }

        & p {
          font-size: 14px;
          font-weight: 700;
          margin: 0;
          color: white;
        }

        & > .popupMenu {
          position: absolute;
          right: -100px;
        }
      }
    }
  }
}
