.loginContainer {
  margin-top: 88px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  max-width: 100%;

  @media (max-width: 420px) {
    margin-top: 52px;
  }

  & .logo {
    display: block;
    width: 256px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    @media (max-width: 420px) {
      width: 200px;
    }
  }

  & > .formPanel {
    & form {
      width: 100%;
      & input {
        margin-bottom: 12px;
      }
      & button {
        margin-top: 12px;
        width: 100%;
      }
    }
  }

  & > p {
    text-align: center;
    margin-top: 24px;
  }
}
