.popupPanel {
  background: white;
  min-width: 300px;
  padding: 0 14px;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, .20);
  border-radius: 3px;

  & .header {
    padding-top: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    & .close {
      & svg {
        height: 24px;
        width: 24px;
        color: var(--gray-3);
      }

      &:hover {
        cursor: pointer;
      }
    }

    & h4 {
      margin: 0;
    }
  }

  & .content {
    padding: 12px 0;
  }
}
