@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@900&display=swap');

:root {
  /* Colors */
  --gray-1: #454545;
  --gray-5: #CDCDCD;
  --gray-6: #F9F9F9;
  --bluegray-3: #A5ADC6;
  --bluegray-6: #F5F6F9;
  --orange: #E76F51;
  --green: #2A9D8F;

  --roboto: 'Roboto', sans-serif;
  --open-sans: 'Open Sans', sans-serif;

  --shadow-small: 0px 3px 6px rgba(0, 0, 0, .03);
  --shadow-large: 10px 10px 20px rgba(0, 0, 0, .04);
}

body {
  background-color: var(--bluegray-6);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--open-sans);
  color: var(--gray-1);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
