.panel {
  background: white;
  padding: 28px;
  box-shadow: var(--shadow-large);
  border-radius: 10px;

  @media (max-width: 420px) {
    padding: 24px;
  }

  & > .header {
    position: relative;
    display: flex;
    align-items: center;
    & .info {
      flex-grow: 1;
      & > h3 {
        margin: 0;
      }
      & > p {
        margin-top: 7px;
        margin-bottom: 0px;
      }
    }

    & > svg {
      padding: 4px 8px;
      height: 32px;
      &:hover {
        cursor: pointer;
      }
    }

    & .popupMenu {
      z-index: 1;
      position: absolute;
      right: 0px;
      top: 45px;
    }

    & .close {
      margin-left: 12px;
      & svg {
        height: 24px;
        width: 24px;
        color: var(--gray-3);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  & > .content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 24px;
  }
}
