.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-small);

  & .container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  & .container:first-child {
    border-right: 1px solid var(--gray-5);
  }

  & .popUpMenu {
    top: calc(100% + 1px);
    position: absolute;
    width: 100%;
    min-width: 175px;

    & li {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  & .logoMenuButton {
    padding-left: 32px;

    & img {
      width: 140px;
    }

    & svg {
      margin: auto 16px;
    }
  }

  & .userMenuButton {
    padding-right: 32px;

    & img {
      width: 34px;
    }

    & svg {
      margin-left: 8px;
    }
  }

  & .left {
    left: 0;
  }

  & .right {
    right: 0;
  }

}

