.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  box-shadow: 0px 0px 8px 0px var(--gray-5);
  & .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 2;
  }

  & .container:first-child {
    border-right: 1px solid var(--gray-5);
  }

  & .menu {
    top: calc(100% + 1px);
    position: absolute;
    z-index: 1;
    width: 100%;
    min-width: 175px;
  }

  & .left {
    left: 0;
  }

  & .right {
    right: 0;
  }

  & .logo {
    padding-left: 32px;

    & img {
      width: 140px;
    }

    & svg {
      margin: auto 16px;
    }
  }

  & .user {
    padding-right: 32px;

    & img {
      width: 34px;
    }

    & svg {
      margin-left: 8px;
    }
  }

}

